:root {
    --background: #1A1A1A;
    --color:      #9DFBFB;
    --primary:    #262538;
    --muted:      #6398A6;
  
    --border-color: #6398A6;
    --border-width: 1px;
  
    --font-base:      1rem;
    --font-family:    Helvetica, sans-serif;
    --font-weight:    bold;
    --text-transform: uppercase;
  
    --button-background:             #1A1A1A;
    --button-background-highlight: #262538;
  
    --card-background:             #1A1A1A;
    --card-background-highlight: #262538;
}